/* .wrong-geusses {
    padding: 2px;
    font-size: 20px;
}

.reset-btn {
    left: 0px;
    box-shadow: inset 0px 1px 0px 0px #a6827e;
	background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color :#7d5d3b;
	border-radius: 3px;
	border: 1px solid #54381e;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
    padding: 4px 20px;
}

.reset-btn:hover {
    background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color: #634b30;
}

img {
    width: 160px;
    height: 160px;
}

p {
    font-size: 25px;
}

.guess-text {
    font-size: 18px;
} */

/* 
.letters {
	width: 50%;
} */

/* button {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
    padding: 6px 12px;
    margin: 1px;
}

button:hover {
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color: #dfdfdf;
}

button:active {
	position: relative;
	top: 1px;
}

button:disabled {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #9e9e9e 5%, #707070 100%);
	background-color: #9e9e9e;
	border-radius: 6px;
	border: 1px solid #707070;
	display: inline-block;
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 15px;
    margin: 1px;
    cursor: not-allowed;
} */

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 7rem;
	margin-bottom: 1rem;
}

.game {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reset-btn {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-radius: 10%;
	font-size: 1.6rem;
	padding: 0.4rem;
	text-decoration: none;
	border: none;
	box-shadow: inset 0 0 2rem 0 lightslategray;
	cursor: pointer;
	transition: all 650ms;
}

.reset-btn:hover {
	box-shadow: inset 0 0 10rem 0 rgba(97,97,97,1);
}

.reset-btn:focus {
	outline: none;
}

.wrong-geusses {
	font-size: 1.8rem;
	padding: 0.5rem;
	color: #bcbcbc;
}

img {
    width: 170px;
	height: 170px;
	margin: 3rem;
}

.guess-catrgory {
	font-size: 1.8rem;
	color: #bcbcbc;
}

.guess-word {
	font-family: 'Cabin Sketch', cursive;
	font-size: 4rem;
	margin: 1rem;
}

.letters {
	width: 60%;
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 3rem;
}

.letter-btn {
	font-size: 1.5rem;
	padding: 0.2rem 1rem;
	margin: 0.5rem;
	border-radius: 30%;
	text-decoration: none;
	border: none;
	cursor: pointer;
	transition: all 650ms;
	box-shadow: inset 0 0 1.5rem 0 lightslategray;
}

.letter-btn:hover {
	box-shadow: inset 0 0 3rem 0 rgba(97,97,97,1);
}

.letter-btn:focus {
	outline: none;
}

.letter-btn:disabled {
	box-shadow: inset 0 0 3rem 0 rgba(97,97,97,1);
	cursor: not-allowed;
}

@media screen and (min-width: 2500px) {
	html {
		font-size: 15px;
	}

	img {
		width: 250px;
		height: 250px;
		margin: 5rem;
	}
}