@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./components/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #1C2E1E;
    color: white;
    font-family: 'Pangolin', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    vertical-align: middle;
    color: #6D5234;
    position: relative;
}

.App {
    text-align: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    color: #846644;
}